/*****************
HEADER SECTION
*****************/

nav{
    background-color: #f76c6c;
    padding:10px;
    color:white;
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

#nav-brand{
    font-weight: bold;
    font-size: 1.6rem;
}

#nav-ul{
    display:flex;
    flex-direction: column;
    gap:5%;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.1rem;
}

header{
    min-height:250px;
    background-image: url("https://loremflickr.com/cache/resized/7341_27322037234_53308c23fa_320_240_nofilter.jpg");
    background-size: cover;
    display: flex;
    align-items: center;   
    justify-content: center;
    color:white;
}

footer{
    background-color: #f76c6c;
    min-height:73px;
    display: flex;
    align-items: center;   
    margin-top:2%
}

/*****************
FEATURED SECTION
*****************/

.featured-posts .articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.articles-grid > article:first-child {
  grid-column: span 2;
}

.featured-posts article {
  color: #ff6b6b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 1rem;
}

.featured-posts h3 {
  margin: 0;
}
